<!DOCTYPE html>
<html lang='en'>

  <%- include('../partials/head'); %>

<body class="container">

  <div class="text-center">
    <h1>CSRF ERROR </h1>
  </div>

  <%- include('../partials/footer'); %>
</body> 
  <script src="./assets/js/bundle.js"></script>
</html>