<!DOCTYPE html>
<html lang='en'>

  <%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header'); %>
  
  <main class="text-center pt-3 pb-5 rounded-bottom">
    <form action="/" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">name</span>
        <input class="form-control" type="text" name="name" placeholder="name">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">age</span>
        <input class="form-control" type="text" name="age" placeholder="age">
      </div>
    <button class="btn btn-primary">Submit</button>
    </form>
  </main>

  <%- include('../partials/footer'); %>
</body> 
  <script src="./assets/js/bundle.js"></script>
</html>